body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #a0a0a3;
}

a {
  text-decoration: none;
  padding: 20px 40px;
  color: transparent;
  border: 3px solid #f1c40f;
  text-transform: uppercase;
  font-size: 30px;

  transition: all 0.5s;
  position: relative;
}

a::before {
  content: "button";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #222223;
  color: #f1c40f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

a:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

a::after {
  content: "button";
  position: absolute;
  color: #f1c40f;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background: #222223;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

a:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
