.object-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  perspective: 1000px;
}
.rectangle {
  width: 300px;
  height: 190px;
  transition: transform, 1s;
}

.rectangle-closer {
  background: black;
}

.rectangle-closer:hover {
  transform: translateZ(300px);
}

.rectangle-far {
  background: red;
}

.rectangle-far:hover {
  transform: translateZ(-300px);
}
