body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  padding: 40px 80px;
  color: rgb(29, 28, 28);
  border: 3px solid rgb(29, 28, 28);
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

a::before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(29, 28, 28);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

a:hover::before {
  opacity: 1;
  transform: scale(1);
}
