body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "BenchNine";
  background-color: #111111;
}

button {
  border: none;
  text-decoration: none;
  padding: 12px 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #db6606;
  position: relative;
  color: #f5f2f2;
  font-size: 22px;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid #db6606;
  border-left: 2px solid #db6606;
  transition: all 0.25s;
}

button:hover::before,
button:hover::after {
  height: 100%;
  width: 100%;
}

button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #db6606;
  border-right: 2px solid #db6606;
  transition: all 0.25s;
}
