body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f3eded;
}

a {
  text-decoration: none;
  width: 300px;
  height: 60px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.2s;
  position: relative;
  line-height: 60px;
  color: azure;
  font-size: 16px;
}

a:hover {
  color: #181717;
}

a::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #4f9df1;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}

a::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #f75e5e;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: bottom;
  transition: all 0.2s;
}

a:hover::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

a:hover::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
