/* Background color */
.flower-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center {
  position: relative;
  width: 75px;
  height: 75px;
  background: yellow;
  border-radius: 50%;
  z-index: 1000;
}

.petal {
  position: absolute;
  width: 150px;
  height: 75px;
  background-color: #ef85cd;
  border-radius: 75px / 37px;
  transition: background-color, 2000ms;
}

.petal:hover {
  background-color: #f72b45;
}

.one {
  rotate: -45deg;
}

.one:hover {
  background-color: #6911e3;
}
.two {
  rotate: 45deg;
}
.two:hover {
  background-color: #600c94;
}
.three {
  rotate: 90deg;
}

.three:hover {
  background-color: #940c43;
}

/*  Opacity */

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  transition: all, 1000ms;
}

.circle:hover {
  opacity: 0.1;
}
