.objects-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.objects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rectangle {
  position: relative;
  width: 250px;
  height: 200px;
  top: 150px;
  background-color: rgb(120, 120, 245);
  opacity: 0.2;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
  transition: transform, 1s;
}

.rectangle:hover {
  transform: scale(1.1);
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f72b45;

  transition: transform, 2s;
}

.circle:hover {
  transform: translateY(150px);
}

.eternity {
  font-size: 15rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  transition: transform, 1s;
  color: rgb(5, 5, 58);
}

.eternity:hover {
  transform: rotate(90deg);
}

.rectangle-rotate {
  position: relative;
  width: 200px;
  height: 100px;
  background: red;
  transition: transform, 1s;
  transform-origin: top left;
}
.greetings {
  position: absolute;
  z-index: -1;
}

.rectangle-rotate:hover {
  transform: rotate(90deg);
}
