* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}

ul {
  position: relative;
}

ul li {
  list-style: none;
  text-align: center;
}

ul li a {
  text-decoration: none;
  display: inline-flex;
  padding: 5px 20px;
  font-size: 3em;
  font-weight: 700;
  color: rgb(37, 38, 39);
  transition: 0.5s;
}

ul:hover a {
  color: #0002;
}

ul li a:hover {
  color: black;
  background-color: white;
}

a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  z-index: -1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  opacity: 0;
  transition: letter-spacing 0.5s;
  width: 100vw;
  height: 100vh;
}

a:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
}

li:nth-child(1) a::before {
  background-color: #81ecec;
}

li:nth-child(2) a::before {
  background-color: #ff7676;
}

li:nth-child(3) a::before {
  background-color: #55efc4;
}

li:nth-child(4) a::before {
  background-color: #a29bfe;
}

li:nth-child(5) a::before {
  background-color: #fd79a8;
}
